---
layout: archive
title: "Research Experience"
permalink: /research-experience/
author_profile: true
---

{% include base_path %}

{% comment %} First show items with present/empty dateend, sorted by start date descending {% endcomment %}
{% assign sorted_research = site.research | sort: "date" | reverse %}
{% for post in sorted_research %}
  {% if post.dateend == '' or post.dateend == 'present' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% comment %} Then show items with dateend, sorted by dateend descending {% endcomment %}
{% assign sorted_research_by_end = site.research | sort: "dateend" | reverse %}
{% for post in sorted_research_by_end %}
  {% unless post.dateend == '' or post.dateend == 'present' %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}

