:root {
    /* Dark mode colors as default */
    --bg-color:             rgb(0, 0, 0);
    --bg-color-opacity:     rgba(0, 0, 0, 0.9);
    --text-color:           #FFFFFF;
    --theme-color:          #CDB4DB;
    --nav-hover-color:      #89ADE0;
    --contrast-theme-color: #dfc4ef;
}

/* Light mode colors */
[data-theme="light"] {
    --bg-color:             rgb(254, 255, 248);
    --bg-color-opacity:     rgba(254, 255, 248, 0.95);
    --text-color:           #212122;
    --theme-color:          #AD87B6;
    --nav-hover-color:      #D9B5E7;
    --contrast-theme-color: #93719a;
}

/* for smooth transitioning of dark and light modes */
html, body, .page-header {
    transition: background-color 0.3s ease;
}

html {
    font-size:  100%;
    scroll-behavior: smooth;
    /* background-color: var(--side-bg-color); */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: 'IBM Plex Sans', sans-serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    max-width:90ch;
    width: 100%;

    margin: 0 auto;

    font-weight: 300;
    font-size: 90%;
    line-height: 1.3;

    padding: 0 1.5ch 0 3ch;
}

main {
    margin: 0 12px;
    flex-grow: 1;
    ul li {
        margin: 0.5rem 0;
        max-width: 65ch;
    }
    p {
        max-width: 70ch;
    }
    width: 100%;
}

.about {
    font-weight: 400;
    font-size: 100%;
    line-height: 1.65;
    max-width: 100%;
}

.emph {
    color: var(--theme-color);
}

.headshot {
    float: right; /* Makes the image float to the right */
    width: 270px; /* Set the width of the image */
    height: 270px; /* Set the height of the image */
    display: block;
    max-width: 100%;
    border-radius: 90%; /* Makes the image circular */
    margin-left: 15px; /* Adds space between the image and text */
    margin-bottom: 10px; /* Adds space below the image */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.page-header {
    position: sticky;
    font-weight: 400;
    font-size: 90%;
    top: 0;
    background-color: var(--bg-color-opacity);
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 45px;
    align-items: center;
    margin-bottom: 1rem;
}

a[href] {
    color: var(--theme-color);
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

.page-header a, .side-menu a {
    transition: color 0.3s ease;
    margin: 0 1ch;
    font-size: 1.25em;
    color: var(--text-color);
}

.page-header a:hover, .page-header a:focus, .side-menu a:hover, .side-menu a:focus {
    color: var(--nav-hover-color);
    text-decoration: none;
}

.page-header a.active, .side-menu a.active { 
    font-weight: bold; 
    color: var(--theme-color);
}

.page-footer {
    text-align: center;
    padding-right: 15ch;
    margin-top: 2rem;
    margin-bottom: 8px;
}

.footnotes {
    font-size: 0.8em;
}

/* "bullet" list with table */
.bullet {
    width: auto;
    vertical-align: top;
    font-size: 100%;
    padding: 0 1ch;
    font-weight: 300;
}
ul {
    padding: 0 2.2ch;
    li {
        list-style-type: '>';
        padding: 0 1.1ch;
    }
    li::marker {
        font-weight: 300;
    }
}

main .noindent {
    position: relative;
    padding-left: 0;
    line-height: 1.6;
    li {
        list-style-type: none;
        margin: 0;
        .inline-icon i {
            margin: 0 0.5rem 0 0;
            .material-symbols-outlined {
                align-items: top;
            }
        }
    }
}

/* Typography */
p {margin-bottom: 0.5rem;}

h2, h3, h4, h5 {
  line-height: 1.15;
}

h3, h4, h5 {
    margin: 1.5rem 0 1.05rem;
    font-weight: 500;
}

h1 {
    line-height: 1.0;
    font-size: 5.2em;
    font-weight: 800;
    margin: 2.4rem 0 2.4rem;
}

h2 {
    font-size: 2.2em;
    font-weight: 500;
    margin: 2rem 0 1.2rem;
}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5, .larger {font-size: 1.25em;}

/* small {font-size: 0.8em; font-weight: 300;} */

small {
    font-size: 70%;
    font-weight: 300;
    margin: 0;
}

/* icons */

.inline-icon {
    display: inline-flex;
    font-size: inherit;
    i {
        margin: 0 0.5ch;
    }
} 

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

a i {
    transition: color 0.3s ease, transform 0.3s ease;
    color: var(--contrast-theme-color);
}
a:hover i {
    color: var(--nav-hover-color);
    transform: translate(4%, -4%);
    .material-symbols-outlined {
        text-decoration: underline;
    }
}

/* social icon bar */
.social {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    gap: 1.2ch;
    margin: 1rem 0 2rem;;
    font-size: 150%;
    a i{
        color: var(--contrast-theme-color);
    }
    a:hover i{
        color: var(--nav-hover-color);
    }
}

/* publications table */

.publications {
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 1rem;
    max-width: 65ch;
    .doi {
        font-size: 80%;
    }
    .title {
        padding: 0;
        font-weight: 400;
        font-size: 100%;
        a {
            color: var(--text-color);
        }
        .inline-icon {
            a i{ 
                margin-left: 0.3rem;
                margin-right: 0;    
            }
            a:hover i{
                text-decoration: underline;
            }
        }
    }
    .authors {
        font-size: 90%;
        color: var(--text-color);
        margin: 0.3rem 0 0.3rem;
        .me {
            font-weight: 700;
            /* color: var(--theme-color); */
        }
    }
}

/* scroll progress bar!! */

progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 45px;
    
    /* Make it span full viewport width */
    width: 100vw;  /* Changed from 100% to 100vw */
    height: 2px;
    
    /* Reset the appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    /* Get rid of the default border in Firefox/Opera. */
    border: none;
  
    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;
  
    color: var(--theme-color);
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: var(--theme-color);
}

progress::-moz-progress-bar {
    background-color: var(--theme-color);
}

/* Add styles for the theme toggle button */
nav button {
    background: none;
    border: none;
    padding: 0;
    color: var(--text-color);
    cursor: pointer;
    margin-left: 0.5ch;
    font-size: 1.25em;
    transition: color 0.3s ease;
    width: 1.25em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav button:hover {
    color: var(--nav-hover-color);
}

/* have aqc on top left fade in and out when scrolling */
#home-link.fade-on-scroll {
    opacity: 0;
    transition: opacity 0.36s ease-out;
}

/* Hamburger Icon */
.hamburger {
    display: none; /* Hidden by default */
    cursor: pointer;
    z-index: 1001; /* Ensure it is above other elements */
    font-size: 25px;
}

/* Side Menu */
.side-menu {
    position: fixed;
    top: 0;
    right: -20ch; /* Hide off-screen to the right */
    width: 20ch;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: flex-end;
    height: 100%;
    background-color: var(--bg-color-opacity); /* Background color */
    transition: right 0.3s ease; /* Smooth transition */
    z-index: 1001; /* Ensure it appears above other content */
    button {
        margin-top: 8px;
        width: auto;
    }
    button, a {
        margin-right: 32px;
    }
}

.side-menu.active {
    right: 0; /* Slide in from the right */
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    body {
        width: 85%;
    }
    main {
        margin: 0 auto;
    }
    .hamburger {
        display: block; /* Show hamburger icon on mobile */
    }
    .page-header a {
        display: none; /* Hide the nav bar on mobile */
    }
    nav {
        width: 100%;
        justify-content: flex-end;
        display: inline-flex;
        flex-direction: row;
        gap: 1.5ch;
        align-items: baseline;
    }
    h1 {
        margin-bottom: 0;
    }
    .headshot {
        margin: 2rem auto;
        width: 69%;
        height: auto;
        float: none;
        clear: both;
    }
    .page-footer {
        text-align: center;
        padding: 0;
    }
}