<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        // Check and apply theme immediately
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.documentElement.setAttribute('data-theme', savedTheme);
        }
        // If no saved theme, don't set any attribute (defaults to dark mode)
    </script>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <a href="/" style="font-weight: 700" id="home-link" {% if clean_url == '/' %}class="fade-on-scroll"{% endif %}>aqc</a>
        <nav>
            <a href="https://aqcheng.substack.com" target="_blank">substack</a>
            <a href="/scioly">scioly</a>
            {% assign sections = "research" | split: " " %}
            {% for section in sections %}
                <a href="/#{{ section }}">{{ section }}</a>
            {% endfor %}
            <a href="/assets/pdf/April_Cheng_CV.pdf" target="_blank">cv</a>
            <!-- dark mode toggle -->
            <button class="theme-toggle" id="theme-toggle" title="Toggle dark mode">
                <i class="fa-regular fa-sun" style="width: 1em; text-align: center;"></i>
            </button>
            <!-- Hamburger Icon for mobile -->
            <button class="hamburger" onclick="toggleMenu()">
                &#9776; <!-- This is a simple hamburger icon -->
            </button>
        </nav>
        <progress value="0" max="100"></progress>
    </header>

    <!-- Side Menu for mobile-->
    <nav class="side-menu" id="sideMenu">
        <button class="hamburger" onclick="toggleMenu()">
            &#9776; <!-- This is a simple hamburger icon -->
        </button>
        <a href="https://aqcheng.substack.com" target="_blank">substack</a>
        <a href="/scioly">scioly</a>
        <a href="/assets/pdf/April_Cheng_CV.pdf" target="_blank">cv</a>
    </nav>

    <main>
    {% if clean_url == '/' %}
    <h1>{{ site.author | upcase }}<span class="emph">.</span></h1>
    <img src="{{site.headshot}}" alt="Headshot" class="headshot">
    {% endif %}
    {{content}}
    </main>
    <footer class="page-footer">
        <small>Built by April with <a href="https://www.clairebookworm.com/" target="_blank">insp</a><a href="https://amandafarah.me/" target="_blank">ira</a><a href="https://www.vvhuang.com/" target="_blank">ti</a><a href="https://liudaniel.com/" target="_blank">on</a>
            and <a href="https://www.11ty.dev/" target="_blank">11ty</a> 
            <a href="https://github.com/binyamin/eleventy-garden" target="_blank">garden</a>.
            Last updated {{ site.last_updated }}.
        </small>
    </footer>
    <script src="/assets/js/progress.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/hamburger.js"></script>
</body>
</html>